.cont {
   width: 100%;
}
header {
margin-top: 30px; 
}
form {
margin-top: 20px; 
padding: 0 20px;
}
#search-container { 
padding: 0 20px;
min-height: 240px;
}
.heading {
width: 100%; 
}
.imgCont {
   width: 200px;
   height: 200px;
   float: left;
   margin: 20px;
   cursor: pointer;
}
.titleCont {
   float: left;
   width: calc(100% - 240px);
   height: 44px;
   line-height: 55px;
   font-size: 18px;
   font-weight: 700;
   text-overflow: ellipsis;
   overflow: hidden;
}
.title {
    font-size :18px;
}